.iconsContent{
    & .icons{
        width:100%;
        margin: 10px 5px;
        background: rgba(255, 255, 255,0.6);
        min-height:4000px;
        padding-left:40px;
    }
    & .icons a{
        width:100px;
        height:100px;
        line-height:50px;
        text-align:center;
        display:block;
        margin:10px;
        color:#000;
        float:left;
    }
    & .icons a:hover{
        background:#ccc
    }
}