.button{
    & .buttoncontent{
        margin: 10px 5px;
        background: rgba(255, 255, 255,0.6);
        padding: 30px
    }
    & .ant-btn{
        margin:10px;
    }
    & .ant-layout-content{
        text-align:center;
    }
    & .contentmargin{
        margin: 10px 16px;
        padding: 30px;
        background: rgba(255, 255, 255,0.6)
    }
}